.action-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 3.5rem;
    max-height: 7rem;
    padding: 0.6rem;
    font-size: 1em;
    border-top: 1px solid  var(--border);
    border-bottom: 1px solid var(--border);
    z-index: 777;
}
.bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar ul li{
   
    min-width: 7.5rem;
    min-height: 2.5rem;
    line-height: 2.5rem;
    margin:0px 0.5rem 0  0.5rem;
    border-radius: 20px;
    text-align: center;
    border: 1px solid var(--border);
    box-shadow: 0px 4px 5px 0px  rgba(0, 0 , 0, 0.1);
    transition: .35s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar ul li i{
    margin-right: 0.5rem;
}
.bar ul li:hover{
    background-color: var(--hover);
    cursor:pointer;
}

.p-1{
    // padding: 0.6rem;
}
._count{
    margin-top: -3.0rem;
    margin-left: -9.2rem;
    background: #007bff !important;
    position: absolute;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 100% 100% 0%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
    .action-bar{    
        border-top: 1px solid  var(--border);
        min-height: 4rem;
        justify-content: flex-start;
    }
    .bar-button{
        display: none!important;
       
    }
    .trasition-bar{
        transition:  2s ease-in-out;
    }
    .d-flex{
        display: flex!important;
    }

    .bar ul{
        flex-direction: column;
        justify-content: flex-start;
        position:absolute;
        width: 10rem;
        right: 10px;
        top: 4rem;
        padding: 0.9rem ;
        border-radius: 0px 0px 15px 15px;
        border: 1px solid var(--border);
        background-color: var(--dialog);
        
    }
    .bar ul li{
        min-width: 10rem;
        text-align: left;
        margin-bottom: 10px;
        border-radius: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom:1px solid var(--border);
        
    }
    .bar ul li i{
        padding: 10px;
    }

    .menu-collaps{
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        font-size: large;
        min-width: 10rem;
        min-height: 2rem;
        line-height: 2.5rem;
        margin:-1em;
        border-radius: 20px 20px 0px 20px;
        text-align: center;
        border: 1px solid var(--border);
        box-shadow: 0px 4px 5px 0px  rgba(0, 0 , 0, 0.1);
        display: flex !important;;
        justify-content: flex-start;
        align-items: center;
        transition:display .35s ease-in;
    
    }
    .menu-collaps i{
        padding:0.5rem;
    }
    .menu-collaps span{
        font-weight: 500;
    }
}
.menu-collaps{display: none;}