.group-text{

   display: flex;
   background-color: var(--fields);
   margin: 0.5rem;
   border: 1px solid var(--border);
   border-radius: 2rem;
   max-height: 4.2rem;
   height: 2.5rem;

}
.group-text-labal{
    display: block;
    padding: 0.5rem;
    font-size: .85em;
    font-weight: 500;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}
.group-text >input{
    width: 100%;
    min-width: 0%;
    border-radius: 2rem;
}
 @media screen and (max-width: 768px) {
 .group-text{
    border: 1px solid transparent;
    padding: 0.5rem;
    flex-direction: column;
    /* border-radius: 0px; */
    background-color: transparent;
    max-height: 5.2rem;  
    height: 5.2rem;
 }
 .group-text-labal {
    display: block;
    padding: 0.5rem;
    font-size: .9em;
    text-align: start;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .group-text input{
    border-bottom: 1px solid var(--border);
    background-color: var(--bg-color);
    width: 100%;
    min-width: 0%;
    border-radius: 0rem;
 }

 input:focus{
   background-color: var(--input-focus);
   color: var( --input-focus-color);
 }
} 
/* .slideform {
   animation: slideform 0.3s ease-out;
 } */
 @keyframes slideform {
   0% { transform: translateX(-100%) }
   25% { transform: translateX(-80%) }
   50% { transform: translateX(-70%) }
   75% { transform: translateX(-50%) }
   100% { transform: translateX(100%) }
  }
 